{
  "extends": "@react-native-community",
  "rules": {
    "quotes": [2, "double", { "avoidEscape": true }],
    "prettier/prettier": [
      "error",
      {
        "endOfLine": "auto"
      }
    ],
    "react/react-in-jsx-scope": "off"
  }
}
